include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include deem *.py
recursive-include deem/automl/models *.pkl
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude archive *
recursive-exclude src *
